    *{
        margin: 0;
        padding: 0;
        
    }
.header {
    height: 60px;
    background-color: #131921;
    display: flex;
    align-self: center;
    justify-content: space-between;

}
.header .log-add {
    padding-left: 12px;
    display: flex;
    align-self: center;
}


.header .amazon-logo {
    padding: 5px;
    display: flex;
    align-self: center;
    border: 1px solid transparent;
}

.header .amazon-logo:hover {
    border: 1px solid white;
    border-radius: 2px;
}

.header .amazon-logo img {
    height: 30px;
    width: 100px;



}.header .add-i{
    color: white;
    display: flex;  
    align-self: center;
    margin-left: 3px;
    border: 1px solid transparent;
    
    
}.header .add-i:hover {
    border: 1px solid white;
    border-radius: 2px;
}.header .i{
    padding-left: 10px;
    padding-right: 4px;
    font-size: 20px;

    
} h2{
    font-size: 14px;
    margin-bottom: 0;
    font-weight: bold;
} h6{
    font-size: 12px;
    margin-bottom: 0;
    font-weight: 300;
}
.header .search{
    display: flex;
    align-self: center;
}.header .seai{
    display: flex;
    align-self: center; 
}.header .seai input{
    border-radius:0 ;
    width: 535px;
}.header .seai button{
    border-radius:0 5px 5px 0 ;
    background: #febd69;
}.header .all{
    
    display: flex;
    align-self: center;
    padding: 12px ;
    background: #e6e6e6;
    height: 38px;
    border-radius: 5px 0 0 5px ;
    border-color: #f08b3c;
    border-width: 2px;
    border-style: solid;
    
}.header .last{
    display: flex;
    color: white;
    align-self: center;
}.header .add4 div{
    display: inline-block;
  
}.header .add4{
    margin: 10px;
    border:1px solid transparent ;
   
}.header .cart h2{
    position: absolute;
    font-size: 25px;
    top: 1px;
    right: 3.header .4%;
    color: #f08b3c;
    
}.header .cart i{
    font-size: 30px;
}.header .add4 img{
    width: 25px;
    display: inline;
}.header .add4 .header .A{
    display: inline;
    
    
}.header .add4:hover{
border: 1px solid white;



}